<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : settings.xml
    Created on : March 16, 2011, 12:09 PM
    Author     : Alxandr
    Description:
        Purpose of the document follows.
-->

<root>
  <errors>true</errors>
  <loss>0.5</loss>
  <delay>0.7</delay>
  <ghost>0.7</ghost>
  <payload>0.7</payload>
  <header>0.7</header>
  <onlydata>true</onlydata>
  <serverAddress>localhost</serverAddress>
  <serverport>10500</serverport>
  <simpleConnection>false</simpleConnection>
</root>

